In [1]:
key = 'AKRNJ8AI69F0O8ZNAYD1'
secret = 'eXPvWljK7FlfZQVQeVb6kUhQTOllJUagUUQa5QB2'

In [2]:
import pandas as pd
import alpaca_trade_api as tradeapi
from alpaca.data.historical import StockHistoricalDataClient
# from alpaca.data.requests import StockLatestQuoteRequest, StockBarsRequest, StockTradesRequest, StockQuotesRequest
from alpaca.data.requests import StockBarsRequest # StockLatestQuoteRequest, StockBarsRequest, StockTradesRequest, StockQuotesRequest
from alpaca.data.timeframe import TimeFrame
from datetime import datetime
# keys required for stock historical data client

In [3]:
symbols = [
    'SPY', 'QQQ', 'VIXM', 'DJIA', 'DAX',
    # 'IXIC', 'RUT', 'UKX', 'NTETF', 'HSXUF', 'CAC 40', 'GBP'
]

In [4]:
stock_historical_data_client = StockHistoricalDataClient(key, secret)
req = StockBarsRequest(
    symbol_or_symbols = symbols,
    timeframe=TimeFrame.Minute,                          # specify timeframe
    start = datetime(2024, 11, 19),                        # specify start datetime, default=the beginning of the current day.
    # end_date=None,                                     # specify end datetime, default=now
    # limit = 2,                                         # specify limit
)

In [5]:
df1 = stock_historical_data_client.get_stock_bars(req).df
df1 = df1.reset_index()
df1

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap
0,QQQ,2024-11-19 00:01:00+00:00,499.8500,499.8500,499.8500,499.8500,681.0,15.0,499.850000
1,QQQ,2024-11-19 00:03:00+00:00,499.9300,499.9300,499.9300,499.9300,1568.0,11.0,499.930000
2,QQQ,2024-11-19 00:05:00+00:00,499.8010,499.8100,499.8010,499.8100,2312.0,5.0,499.808826
3,QQQ,2024-11-19 00:06:00+00:00,499.9000,499.9000,499.9000,499.9000,1255.0,7.0,499.900000
4,QQQ,2024-11-19 00:07:00+00:00,499.9100,499.9100,499.9100,499.9100,555.0,8.0,499.910000
...,...,...,...,...,...,...,...,...,...
1377,VIXM,2024-11-19 18:54:00+00:00,14.0600,14.0650,14.0600,14.0650,1577.0,7.0,14.060986
1378,VIXM,2024-11-19 18:57:00+00:00,14.0301,14.0301,14.0301,14.0301,129.0,1.0,14.030100
1379,VIXM,2024-11-19 19:01:00+00:00,14.0350,14.0350,14.0350,14.0350,500.0,1.0,14.035000
1380,VIXM,2024-11-19 19:06:00+00:00,14.0595,14.0595,14.0500,14.0500,400.0,2.0,14.054750
1381,VIXM,2024-11-19 19:08:00+00:00,14.0490,14.0490,14.0490,14.0490,143.0,2.0,14.049000

In [7]:
df1[df1.symbol=='SPY']

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap
627,SPY,2024-11-19 00:03:00+00:00,587.95,587.9500,587.95,587.9500,256.0,11.0,587.950000
628,SPY,2024-11-19 00:05:00+00:00,587.92,587.9200,587.92,587.9200,326.0,10.0,587.920000
629,SPY,2024-11-19 00:06:00+00:00,587.99,587.9900,587.98,587.9800,474.0,13.0,587.985082
630,SPY,2024-11-19 00:07:00+00:00,588.01,588.0100,588.00,588.0000,471.0,20.0,588.003333
631,SPY,2024-11-19 00:08:00+00:00,588.02,588.0200,588.02,588.0200,148.0,11.0,588.020000
...,...,...,...,...,...,...,...,...,...
1202,SPY,2024-11-19 19:04:00+00:00,590.71,590.7200,590.61,590.7200,87169.0,792.0,590.682769
1203,SPY,2024-11-19 19:05:00+00:00,590.75,590.7700,590.58,590.6421,42554.0,520.0,590.686457
1204,SPY,2024-11-19 19:06:00+00:00,590.64,590.7200,590.54,590.7000,54449.0,635.0,590.637233
1205,SPY,2024-11-19 19:07:00+00:00,590.71,590.8199,590.65,590.7601,39982.0,582.0,590.728920
1206,SPY,2024-11-19 19:08:00+00:00,590.77,590.8200,590.77,590.8100,19109.0,405.0,590.799490