In [1]:
import pandas as pd
import numpy as np
import warnings
from tqdm import tqdm
warnings.filterwarnings("ignore")

In [2]:
bucket_loc = 's3://sisyphus-general-bucket/AthenaInsights'
data_folder = 'latest_data'

In [3]:
's3://sisyphus-general-bucket/AthenaInsights/latest_data/parquet/stock_bars_minute.parquet'
's3://sisyphus-general-bucket/AthenaInsights/latest_data/parquet/stock_bars_hour.parquet'
's3://sisyphus-general-bucket/AthenaInsights/latest_data/parquet/stock_bars_day.parquet'
's3://sisyphus-general-bucket/AthenaInsights/latest_data/csv/calender.csv'

's3://sisyphus-general-bucket/AthenaInsights/latest_data/csv/calender.csv'

In [4]:
's3://sisyphus-general-bucket/AthenaInsights/latest_data/parquet/stock_bars_minute.parquet' == f'{bucket_loc}/{data_folder}/parquet/stock_bars_minute.parquet'

True

In [5]:
df1 = pd.read_parquet('s3://sisyphus-general-bucket/AthenaInsights/latest_data/feature_prep/stock_bars_2min_diff_avg.parquet')
df2 = pd.read_parquet('s3://sisyphus-general-bucket/AthenaInsights/latest_data/feature_prep/stock_bars_2min_base_avg.parquet')

In [6]:
df1.head()

,symbol,open,high,low,close,volume,trade_count,market_open,open_diff,high_diff,...,high_diff_ema_26m,high_diff_sma_26m,low_diff_ema_26m,low_diff_sma_26m,close_diff_ema_26m,close_diff_sma_26m,volume_diff_ema_26m,volume_diff_sma_26m,trade_count_diff_ema_26m,trade_count_diff_sma_26m
us_eastern_timestamp,,,,,,,,,,,,,,,,,,,,,
2024-01-02 04:00:00,SPY,476.25,476.36,476.00,476.29,26829.0,100.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-02 04:02:00,SPY,476.29,476.29,476.27,476.27,6521.0,20.0,0.0,0.04,-0.07,...,-0.070000,NaN,0.270000,NaN,-0.020000,NaN,-20308.000000,NaN,-80.000000,NaN
2024-01-02 04:04:00,SPY,476.27,476.27,476.19,476.19,916.0,18.0,0.0,-0.02,-0.02,...,-0.066296,NaN,0.244074,NaN,-0.024444,NaN,-19218.888889,NaN,-74.222222,NaN
2024-01-02 04:06:00,SPY,476.18,476.21,476.14,476.14,5854.0,31.0,0.0,-0.09,-0.06,...,-0.065830,NaN,0.222291,NaN,-0.026337,NaN,-17429.489712,NaN,-67.761317,NaN
2024-01-02 04:08:00,SPY,476.19,476.19,476.19,476.19,214.0,6.0,0.0,0.01,-0.02,...,-0.062435,NaN,0.209529,NaN,-0.020683,NaN,-16556.194178,NaN,-64.593812,NaN

In [7]:
df2.head()

,symbol,open,high,low,close,volume,trade_count,market_open,symbol1,open_ema_2m,...,high_ema_26m,high_sma_26m,low_ema_26m,low_sma_26m,close_ema_26m,close_sma_26m,volume_ema_26m,volume_sma_26m,trade_count_ema_26m,trade_count_sma_26m
us_eastern_timestamp,,,,,,,,,,,,,,,,,,,,,
2024-01-02 04:00:00,SPY,476.25,476.36,476.00,476.29,26829.0,100.0,0.0,SPY,476.250000,...,476.360000,NaN,476.000000,NaN,476.290000,NaN,26829.000000,NaN,100.000000,NaN
2024-01-02 04:02:00,SPY,476.29,476.29,476.27,476.27,6521.0,20.0,0.0,SPY,476.276667,...,476.354815,NaN,476.020000,NaN,476.288519,NaN,25324.703704,NaN,94.074074,NaN
2024-01-02 04:04:00,SPY,476.27,476.27,476.19,476.19,916.0,18.0,0.0,SPY,476.272222,...,476.348532,NaN,476.032593,NaN,476.281221,NaN,23516.651578,NaN,88.438957,NaN
2024-01-02 04:06:00,SPY,476.18,476.21,476.14,476.14,5854.0,31.0,0.0,SPY,476.210741,...,476.338271,NaN,476.040549,NaN,476.270760,NaN,22208.307016,NaN,84.184220,NaN
2024-01-02 04:08:00,SPY,476.19,476.19,476.19,476.19,214.0,6.0,0.0,SPY,476.196914,...,476.327288,NaN,476.051619,NaN,476.264778,NaN,20579.099089,NaN,78.392796,NaN

In [11]:
df1.shape, df2.shape

((110667, 111), (110667, 105))

In [17]:
df1.symbol.unique()

array(['SPY'], dtype=object)

In [14]:
df2.symbol1

us_eastern_timestamp
2024-01-02 04:00:00    SPY
2024-01-02 04:02:00    SPY
2024-01-02 04:04:00    SPY
2024-01-02 04:06:00    SPY
2024-01-02 04:08:00    SPY
                      ...
2024-11-29 16:50:00    SPY
2024-11-29 16:52:00    SPY
2024-11-29 16:54:00    SPY
2024-11-29 16:56:00    SPY
2024-11-29 16:58:00    SPY
Name: symbol1, Length: 110667, dtype: object